@import "pretendard/dist/web/static/pretendard.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* nav bar link의 hover 효과 */
  .nav-link {
    @apply relative;
  }

  .nav-link::after {
    content: "";
    @apply absolute -bottom-[0.35rem] left-0 h-1 w-full origin-left scale-x-0 rounded-md bg-amber-200 transition-transform duration-300;
  }

  /* footer가 올라오는 것을 방지하기 위해 main 최소 height 지정 */
  .main-box {
    margin-top: 60px;
    margin-bottom: 60px;
    /* footer, header, main의 marginY */
    min-height: calc(100vh - 148px - 420px - 120px);
  }

  /* margin x */
  .container-box {
    @apply container mx-auto px-4;
  }
}
